* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: rgb(228, 228, 228);

  @font-face {
    font-family: "korean_calligraphy";
    src: local(korean_calligraphy) url(../assets/font/korean_calligraphy/Korean_Calligraphy.ttf) format(truetype);
  }
}

h1 {
  font-size: rem;
  align-items: center;
}

body {
  overflow: hidden scroll;
  position: relative;
  background: url(../img/smoke-gif.gif) no-repeat fixed;
  background-size: cover;

}


.bloc {display: block;}
.flex {
  display: flex;
}

.limitCont {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.limit-size {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.head-top>figure {
  line-height: 80px;

  .flip {
    transform: scaleX(-1);
    rotate: 30deg;
    margin-left: -20px;
    margin-top: -5px;
    background: transparent;
  }
}

header {
  height: 200px;
  width: auto;
  object-position:initial;
  max-width: 100%;
  img.hand {
object-position: center;
    object-fit: cover;
position:relative;
max-width:100% ;
width: 100%;
height: 100%;
    bottom: 0px;
  }
}

header nav.head-top {
  overflow:visible;
  justify-content: space-between;
  position: sticky;
  position:-webkit-sticky;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10000;
  transform: all 0.5s;
}

nav.head-top ul.menu {
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  transition: all .3s ease-in-out;
  gap: .5rem;




}


nav.head-top>ul>li a {
  transition: all .3s ease-out;
  margin: 0 20px;

}

nav.head-top>ul>li a:hover {
  color: #111;
}

nav.head-top #btn {
  background: transparent;
  border: hidden;
  z-index: 55;
  display: none;
}

nav.head-top #btn .row {
  transition: all .3s;
  transform-origin: center;
}

@media screen and (max-width: 1000px) {
  .head-top>ul>li>a {
    padding: 0 5px;
  }

  nav.head-top #btn {
    display: block;
    margin-right: 10px;
    transition: all .5s;
  }

  nav.head-top #btn::before {
    content: "\2630";
    padding: 0 20px;

  }

  nav.head-top ul.menu {
    flex-direction: column;
    position: absolute;
    z-index: 50;
    height: 30vh;
    top: 80px;
    justify-content: center;
    width: 30vh;
    text-align: center;
    transition: all .5s;
    background-color: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(20px);
    margin: 0
    ;

  }

  nav.head-top ul.menu li {
    padding: 3px 0;
  }

  nav.head-top ul.menu li:hover {
    color: #111;
    background-color: rgb(60, 60, 60, 07);


  }

  nav.head-top>ul>li a {}

}

header nav.head-top figure,
li,
button {
  cursor: pointer;
}












div#banniere {
  text-align: center;
  transition: all .7s;


  h1 {

    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3rem;
    color: white;
    z-index: 10;
  }
}

div#bienvenu {
  margin: 0 auto;
  text-align: center;

  h3 {
    padding: 0 0 20px;
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
    padding-bottom: 20px;
  }

  a {
    padding-bottom: 20px;
  }
}

.equipe {
  size: 100%;
}

#call {
  margin: ;
  p {
    padding-left: 50px;
    padding-top: 50px;
    margin-bottom: 100px;
  }
}

#maya {
  margin-top: 50px;

  p {
    text-align: left;
    margin: 30px 15px;
  }
}

main {
  padding-top: 120px;
}

#grid {
  font-size: 0.9rem;
  padding-top: 50px;

  figure {
    margin: 0 20px 75px 20px;
  }
}

.right {
  text-align: right;
}

.left {
  text-align: left;
  margin-top: 50px;
}

.client img {
  display: block;
}




.equipe {
  margin-top: -200px;
}





/* PAGE 2 */

main.equipe {
  text-align: center;
  p{
    justify-content: center;
    margin-top: 50px;
    width: 40%;
  }
}

main.equipe figure.image {
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 300px;
  line-height: 300px;
}

main.equipe figure.image  img {  
  flex: 1;
  object-fit: cover;
  height: 200px;
  line-height: 200px;
  transition: transform 0.5s ease-in-out;
}

main.equipe figure.image  img:hover {
  height: 100%vh;
  
  transform: scale(1.7);
}